#手动不上传
简陋签到网页.html
普通sso测试.py



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Flask instance folder
instance/
